
<div class="card">
    <div class="">
    <img class="card-img-top" src="{{ asset('uploads/' ~ book.image) }}" alt="{{ book.title }}">
    </div>
    <div class="card-body d-flex flex-column">
        <h3>{{ book.title }}</h3>
        <div class="book-infos">
            <span class="label label-info"><i class="fa fa-user"></i> {{ book.author.fullname }}</span>
            {% for category in book.category %}
                <span class="label label-success"><i class="fa fa-tag"></i> {{ category.name }}</span>
            {% endfor %}
        </div>

            <button href="{{ path('book_show', {'slug': book.slug}) }}" type="button" class="align-self-end btn btn-lg btn-block btn-primary" style="margin-top: auto;" >
                <i class="fa fa-eye">
                </i> Voir plus</button>

    </div>
</div>
